# Environnement virtuel
venv/
__pycache__/
*.pyc

# Variables d'environnement (secrets)
.env

# Base de données locale (si SQLite utilisé accidentellement)
*.db

# Fichiers IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db